@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-50 text-neutral-900;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

a.active {
  @apply font-semibold;
}
